* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
        margin: 0;
        padding: 34px;

        background-color: rgb(249, 249, 249);
}

.balance-container, .form-container {
        margin: 24px 0 24px 0;
}

.balance-container h1 {
        font-size: 3em;
        margin: 0;
}

.balance-container p {
        font-size: 1.3em;
        margin: 0;
}

input[type = button], [type = number], select {
        display: block;
        width: 100%;
        margin: 12px 0 12px 0;
        border: 1px solid black;
        border-radius: 4px;
}

input[type = number], select { /* Improve select design and appearnce */
        padding: 8px;
}

input[type = button] {
        padding: 12px;
}

#income-button {
        background-color: rgb(0, 200, 0);
        color: rgb(255, 255, 255);
        border: none;
        font-weight: bolder;
}

#income-button:active {
        background-color: rgb(0, 255, 0);
}

#expense-button {
        background-color: rgb(210, 0, 0);
        color: rgb(255, 255, 255);
        border: none;
        font-weight: bolder;
}

#expense-button:active {
        background-color: rgb(255, 0, 0);
}

.transaction-log h4 {
        margin: 12px 0 12px 0;
        text-align: center;
}

.transaction-log ul {
        list-style-type: none;
}

.transaction-log li {
        border-radius: 4px;
        padding: 8px;
        margin: 12px 0 12px 0;
}

.expense {
        background-color: rgb(255, 200, 200);
}

.income {
        background-color: rgb(200, 255, 200);
}